$primary-color: #FFC222;
$secondary-color: #E6E6E6;

$font-color-light: #FFF;
$font-color-dark: #5E5E5E;

$primary-font-family: "PT Serif", serif;
$primary-font-weight: 400;
$emphasis-font-family: "Roboto", sans-serif;
$emphasis-font-weight: 500;